<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800"> Ciudades </h1>
      <button class="btn btn-primary" (click)="openModal(null, null)">Agregar Ciudad</button>
      
    </div>

    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"> Listado de Ciudades </h6>
      </div>

      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>                
                <th>Nombre de Ciudad</th>
                <th>No. de Clubes</th>                
                <th>Editar</th>
                <th>Borrar</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let city of cities">
                    
                    <td>{{city.name}}</td> 
                    <td>{{city.nclubes}}</td>                     
                    <td><div class="col-md-6"><button class="btn btn-info"  (click)="openModal(city.id, city)">Editar</button></div></td>                     
                    <td><div class="col-md-6"><button class="btn btn-danger" >Borrar</button></div></td>                     
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <modalCity #modalCity [modalConfig]="modalConfig">
    <!--  body of the modal  -->
  </modalCity>